In [1]:
#imports
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import random
import statsmodels.api as sm

from sklearn.model_selection import train_test_split
from sklearn import tree

from sklearn.tree import export_graphviz 
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

# output of plotting commands is displayed inline, directly below the code cell that produced it
%matplotlib inline

In [2]:
df = pd.read_csv("Math(1).csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 101.9+ KB

In [4]:
df.isnull().any()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
dtype: bool

In [5]:
df_new = df.copy()

In [6]:
df_new.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [7]:
# Cleaning the dataset
df_new['sex'] = df_new['sex'].map({'F':0, 'M':1}).astype(int)
df_new['school'] = df_new['school'].map({'GP':1, 'MS':2}).astype(int)
df_new['address'] = df_new['address'].map({'R':1, 'U':2}).astype(int)
df_new['famsize'] = df_new['famsize'].map({'LE3':1, 'GT3':2}).astype(int)
df_new['Pstatus'] = df_new['Pstatus'].map({'A':0, 'T':1}).astype(int)
df_new['Mjob'] = df_new['Mjob'].map({'teacher':1, 'health':2, 'services':3, 'at_home':4, 'other':5}).astype(int)
df_new['Fjob'] = df_new['Fjob'].map({'teacher':1, 'health':2, 'services':3, 'at_home':4, 'other':5}).astype(int)
df_new['reason'] = df_new['reason'].map({'home':1, 'reputation':2, 'course':3, 'other':4}).astype(int)
df_new['guardian'] = df_new['guardian'].map({'father':1, 'mother':2, 'other':2}).astype(int)
df_new['schoolsup'] = df_new['schoolsup'].map({'yes':1, 'no':2}).astype(int)
df_new['famsup'] = df_new['famsup'].map({'yes':1, 'no':2}).astype(int)
df_new['paid'] = df_new['paid'].map({'yes':1, 'no':2}).astype(int)
df_new['activities'] = df_new['activities'].map({'yes':1, 'no':2}).astype(int)
df_new['nursery'] = df_new['nursery'].map({'yes':1, 'no':2}).astype(int)
df_new['higher'] = df_new['higher'].map({'yes':1, 'no':2}).astype(int)
df_new['internet'] = df_new['internet'].map({'yes':1, 'no':2}).astype(int)
df_new['romantic'] = df_new['romantic'].map({'yes':1, 'no':2}).astype(int)

In [8]:
# Load Data and Split into train & test data
dfX = df_new[["school", "address", "Pstatus", "Medu", "Fedu", "failures", "schoolsup", "famrel", "G1", "G2"]]
dfy = df_new.G3
X = dfX.values
y = dfy.values

In [9]:
# Splitting data into train and test data sets
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.25, random_state=2)

In [10]:
# Create Decision Tree Model
tree_reg = tree.DecisionTreeRegressor(max_depth=2, random_state=2)
tree_reg.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=2, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=2, splitter='best')

In [11]:
#training mse
train_mse = mean_squared_error(tree_reg.predict(X_train), y_train)
print('the training mean squared error is: ', train_mse)

the training mean squared error is:  5.838459502596916

In [12]:
#testing mse
test_mse = mean_squared_error(tree_reg.predict(X_test), y_test)
print('the testing mean squared error is: ',test_mse)

the testing mean squared error is:  4.162039080747301

In [ ]:
#the score function for regressor is calculating R Squared Value of the regression model
# R Squared value rangs from 0 to 1 and the higher the better
train_R2 = tree_reg.score(X_train, y_train)
print('training R^2 value is: ', train_R2)

test_R2 = tree_reg.score(X_test, y_test)
print('testing R^2 value is: ', test_R2)

In [ ]:
# Use GridSearch to find the best combination of model hyperparameters

param_grid = { "criterion" : ["mse", "mae"], "min_samples_leaf" : [1, 5, 10], "min_samples_split" : [2, 4, 10, 12, 16], 'max_depth' : [2,3,4,5,6,7]}

gs = GridSearchCV(tree_reg,param_grid=param_grid, scoring="neg_mean_squared_error",cv=10,n_jobs=-1)
gs = gs.fit(X_train, y_train)

print(gs.best_score_)
print(gs.best_params_)

In [ ]:
# Create the final Decision Tree Regressor using the best hyperparameters
tree_reg = tree.DecisionTreeRegressor(criterion='mae',max_depth=7,min_samples_leaf=5,min_samples_split=2)
tree_reg.fit(X_train,y_train)